nav.navbar.navbar-default {
  margin-bottom: 0;
}

.main{
  background-color:#B6CB9E;
  font-size:44px;
  font-weight: bold;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 25px;
}
.tabs {
  position: relative;
  display: block;
}
